{
  "env": {
    "main": {
      "presets": [
        "es2015"
      ]
    },
    "renderer": {
      "presets": [
        [
          "es2015",
          {
            "modules": false
          }
        ]
      ]
    }
  }
}
